{%- assign person = page.data.staff %}
{%- assign pdata = site.data.staff[person] %}
{%- assign fullname = pdata.en.name | append: " " | append: pdata.en.surname %}
<!DOCTYPE html>
<html>
<head>
    <title>Department of Power Supply of Industrial Companies and Cities - {{ fullname }}</title>
    <meta name="description" content="Site of Department of Power Supply of Industrial Companies and Cities" />
    <meta name="keywords" content="ETF, PSICC, Donetsk, DonNTU" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="icon" href="../images/favicon.png" type="image/png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../js/totopscroll.js"></script>
</head>
<body lang="en">
<a href="#" id="toTop">↑ </a>

<div class="container">

<div id="header">
    <div id="epg"><a href="http://etf.donntu.ru/epg"></a></div>
    <div id="donntu"><a href="http://donntu.ru"></a></div>
    <div id="etf"><a href="http://fier.donntu.ru/index.php?lang=ru"></a></div>
</div>

<div id="menu">
    <nav id="nav">
        <a href="../index_en.html">Main</a>
        <a href="../news_en.html">News</a>
        <a class="buttonsup" href="../staff_en.html">Staff</a>
        <a href="../history_en.html">History</a>
        <a href="../science_en.html">Scientific research</a>
        <a href="../study_en.html">Educational work</a>
        <a href="../abityrienty_en.html">For the entrant</a>
        <a href="../contacts_en.html">Contacts</a>
    </nav>
</div>

<div id="content">
    <div id="langbox">
        {%- if pdata.ru %}
        <a href="{{ person }}_ru.html"><img class="inactive" src="../images/ru.png" alt="Русский язык"></a>
        {%- endif %}
        <img src="../images/en.png" alt="English">
    </div>

	<h2>{{ fullname }}</h2>

	<div id=photomag><img src="images/{{ person }}.jpg" alt="{{ fullname }}"></div>
	<p id="post">{% if pdata.en.degree %}{{ pdata.en.degree }}, {% endif %}{{ pdata.en.post }}.</p>

    {% include "contacts.liquid" %}

    <hr class="hidden" >

    {{ page.content }}

</div>

<div id="footer">
</div>

</div>
</body>
</html>
